@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');

:root {
  --color1: #87085F;
  --color2: #F4F5F6;
  --color3: #6C3483;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  background: var(--color2);
}

body {
  display: flex;
  flex-direction: column;
}

/* Inicio de header */

.header {
  color: var(--color1);
  line-height: 2;
  text-align: center;
}

.header__h1 {
  font-size: 1.5em;
  width: 100%;
}

/* Fin de header */

/* Inicio de secci贸n 1 */

.section-1 {
  max-width: 600px;
  margin: auto;
}

.section-1__container {
  height: 100%;
  background: var(--color3);
  text-align: justify;
  font-size: .7em;
  font-weight: 500;
}

.section-1__container-img {
  width: 100%;
}

.section-1__container-p {
  padding: 1em;
  background: none;
  color: var(--color2);
}

/* Fin de secci贸n 1 */

/* Inicio de secci贸n 2 */

.section-2 {
  padding: 2em 1em .5em 1em;
  text-align: justify;
}

.section-2__h2 {
  color: var(--color3);
  font-size: 1.2em;
}

.section-2__p {
  padding-top: 1em;
}

.section-2__timeline {
  font-size: .8em;
  padding-top: 4em;
}

.section-2__timeline-table {
  border: solid 1px #6C3483;
}

.section-2__timeline-table .title {
  padding: .5em;
  text-align: center;
  font-size: 1.5em;
}

.section-2__timeline-table .date, .info {
  padding: .5em;
}

.section-2__timeline-table .info {
  font-weight: 400;
  padding: 1em .5em 1em 1em;
  width: 70%;
}

/* Fin de secci贸n 2 */

/* Inicio de footer */

.footer {
  padding-top: 3em;
  text-align: center;
}

.footer__container {
  height: 6em;
  background: var(--color1);
  color: var(--color2);
}

.footer__h3, .footer__contact-container, .footer__contact-container a, i{
  background: none;
}

.footer__h3 {
  font-size: .8em;
  padding-top: 2em;
}

.footer__contact-container a {
  font-size: 2em;
  text-decoration: none;
  color: var(--color2);
  transition: all .5s;
}

.footer__contact-container a:hover {
  font-size: 2.2em;
  transition: all .5s;
}

/* Fin de footer */